* {
    padding: 0;
    margin: 0;
}
body {
    font-family: arial;
}
/* ******************* header part ****************************/
#headerpart {
    padding: 20px 0;
    text-align: center;
}
.header_wreep {
    width: 95%;
    margin: 0 auto;
}
.header_heading {
    margin-bottom: 5px;
    font-size: 20px;
}
.header_menu {
    margin: 5px 0 20px 0px;
}
ul {
    list-style-type: none;
}
ul li {
    margin-top: 8px;
}
ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.header_two {
    margin-top: 30px;
}
.header_two_img_part {
    margin-bottom: 10px;
}
.header_two_img_part img {
    width: 80%;
}
.header_two_paragraph_part {
    margin-top: 20px;
}
.right {
    display: block;
}
.footer_right_menu {
    display: none;
}
/* **********************portfolio part **************************/
#portfolio_section {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0;
}
.port_wrepp {
    width: 95%;
    margin: 0 auto;
}
.port_heading {
    margin-bottom: 30px;
}
.port_part {
    margin: 40px auto;
}
.port_part img {
    width: 100%;
}
.port_header {
    margin: 20px 0;
}
/* ******************** contact part***************************/
#contact_section {
    text-align: center;
    margin-top: 50px;
}
.contact_part {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}
.contact_header {
    margin: 10px 0;
}
.contact_phone,
.contact_email {
    margin-top: 30px;
}
.phon,
.email {
    font-weight: bold;
    margin-left: 20px;
}
/* ******************** footer part ***************************/
#footer_section {
    margin-top: 10px;
}
.footer_part {
    width: 95%;
    margin: 20px auto;
    height: 50px;
}
.left {
    float: left;
    width: 40%;
}
.right {
    width: 60%;
    float: right;
    text-align: right;
}
.footer_part a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.clear1 {
    clear: both;
}
/* ***************************** 
Device = Tablets, Ipads (portrait)
Screen = B/w 768px
*********************************/
@media (min-width: 768px) {
    /* ***************header part ********************************/
.header_menu{
    padding:30px 0;
    }
.header_menu ul li {
     display: inline-block;
     margin-left: 4%;
}
.header_two_img_part {
    float: right;
    width: 40%;
}
.header_two_img_part img {
    width: 100%;
}
.header_two_paragraph_part {
    width: 55%;
    text-align: left;
}
.clear {
    clear: both;
}
/* ***********************************************
                portfolio part 
************************************************* */
#portfolio_section {
    margin-top: 70px;
}
.port_wrepp {
    width: 95%;
}
.port_part {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.port_part img {
    width: 100%;
}
.port_content {
    width: 95%;
}
/* ********************contact part ***************************/
#contact_section {
    margin-top: 78px;
}
.contact_part {
    width: 95%;
}
.contact_content {
    width: 95%;
    margin: 30px auto;
}
/* ******************footer part*****************************/
.footer_part {
    margin: 0 auto;
}
.left {
    margin-top: 8px;
}
.right {
    display: none;
}
.footer_right_menu {
    display: block;
    float: right;
    width: 60%;
    text-align: right;
}
.footer_right_menu ul li {
    display: inline-block;
    margin-left: 12%;
}
.clear {
    clear: both;
}
.clear1 {
    display: none;
}
}
/* *****************************
Device = Laptops, Desktops
  Screen = B/w 1025px 
**********************************/
@media (min-width: 1025px) {

    /* ****************header part*******************************/
.header_heading {
        float: left;
        width: 50%;
        text-align: left;
        margin-top: 20px;
}
.header_menu {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 0;
}
/* ********************portfolio part***************************/
    .port_part {
        width: 32.3%;
        margin-right: 1%;
    }
/* ***********************footer part************************/
    .right {
        display: none;
    }
    .footer_right_menu {
        display: block;
    }
    .clear1 {
        display: none;
    }
}